{# 本站运行时间 - 插入到 copyright 之后 #}
{%- if theme.runtime and theme.birthday %}
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment-precise-range-plugin@1.3.0/moment-precise-range.min.js"></script>
<script>
  (function() {
    const birthdayStr = '{{ theme.birthday }}';
    if (!birthdayStr || birthdayStr.length < 8) return;

    // 创建运行时间元素
    var runtimeDiv = document.createElement("div");

    function updateRuntime() {
      const birthday = moment(birthdayStr.substring(0, 4) + '-' + birthdayStr.substring(4, 6) + '-' + birthdayStr.substring(6, 8), 'YYYY-MM-DD');
      const now = moment();
      const ages = moment.preciseDiff(birthday, now);

      let formatted = ages
        .replace('years', '年')
        .replace('year', '年')
        .replace('months', '月')
        .replace('month', '月')
        .replace('days', '天')
        .replace('day', '天')
        .replace('hours', '小时')
        .replace('hour', '小时')
        .replace('minutes', '分')
        .replace('minute', '分')
        .replace('seconds', '秒')
        .replace('second', '秒')
        .replace(/\d+/g, '<span style="color: #1890ff;">$&</span>');

      runtimeDiv.innerHTML = '本站已运行 ' + formatted;
    }

    // 插入到 copyright 之后
    var copyright = document.querySelector(".copyright");
    if (copyright && copyright.parentNode) {
      copyright.parentNode.insertBefore(runtimeDiv, copyright.nextSibling);
      updateRuntime();
      setInterval(updateRuntime, 1000);
    }
  })();
</script>
{%- endif %}
